#btn1{
    margin-left: 29%;
}
#btn2{
    margin-left: 29%;
}
#btn3{
    margin-left: 30%;
}
#input{
    width: 80px;
    margin-left: 33%;
}
p{
    margin-left: 19%;
}
.jumbotron{
    margin-top: 10%;
}
h1{
    margin-left: 43%;
}